<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" [ngStyle]="{'height': rowHeight}">
      <ion-col size="12" class="ion-text-center">
        <span style="font-size: 14px; color:white;">We have just sent link to your email.</span><br/>
        <span style="font-size: 16px; color:white;">Please check your email for finishing sign up.</span><br/><br/>
        <a [routerLink]="['/login']"><p>Go to Login</p></a> 
      </ion-col>
    </ion-row>
 
  </ion-grid>
</ion-content>
