
.header-bg{
   background-image: url('../../../assets/images/yoga1.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}
.button-h{
    height: 50px;
    font-size: 14px;
    font-weight: bold !important;
    margin: 0 !important;
    margin-top: 10px !important;
    --background: white;
    color: #9cd1e8;
}
a {
    text-decoration: none;
}