
<ion-content fixed>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center ion-align-items-center" [ngStyle]="{'height': rowHeight}">
      <ion-col size="12" class="ion-text-center">
          <span style="font-size: 22pt; color:white;">{{strings.ST0}}</span><br/>
          <span style="font-size: 44pt; color:white;"><strong>{{strings.ST1}}</strong></span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-end" [ngStyle]="{'height': rowHeight}">
      <ion-col size="12" class="ion-text-center">
          <p style="font-size: 14pt; color:white; margin-bottom: 100px;">{{strings.ST2}}</p>
      </ion-col>
    </ion-row>  
  </ion-grid>
  
  </ion-content>
  